@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    background: #0bf;/**/
}
header{
    text-align: center;
    border-bottom: 6px solid #3338;
    margin-bottom: 50px;
    padding: 10px;
}
h1, h2{
    font-family: "Bitcount Single Ink", system-ui;
    font-weight: 100;
}
p{
    font-family: "Playfair Display";
}
#foto-perfil{
    border-radius: 20px;
    box-shadow: 2px 0 15px 5px #3333;
}
article{
    padding: 10px;
    border: 1px solid #000;
    width: 33%;
    float: left;
}
/*Principios de usabilidad de JAKOB NIELSEN*/
